{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Resources" : {
    "$BASE_IMAGE" : {
        "Type" : "AWS::ECR::Repository",
        "Properties" : {
            "RepositoryName" : "$BASE_IMAGE"
        }
    }
  }
}
